body {
  margin: 0 50px;
  font-family: Sofia Pro, sans-serif;
}
.heading {
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  line-height: 36px;
  color: #3f51b5;
  font-weight: 510;
}
.justify-content-end {
  display: inline-block;
  float: right;
  padding: auto;
}
.navbar-text {
  margin-top: 8px;
}
.justify-content-end a {
  padding: 0px 30px;
}
